{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th class="text-center" scope="col">ID</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Phone</th>
      <th class="text-center" scope="col">Address</th>
      <th class="text-center" scope="col">Created At</th>
      <th class="text-center" scope="col">Updated At</th>
    </tr>
  </thead>
  <tbody>
    
{% if records %}
	{% for record in records %}
		<tr>
      <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
			<td>{{ record.name }}</td>
			<td>{{ record.email }}</td>
			<td>{{ record.phone }}</td>
			<td>{{ record.address }}</td>
			<td>{{ record.created_at }}</td>
      <td>{{ record.updated_at }}</td>
		</tr>
	{% endfor %}

{% endif %}

	
	  </tbody>
	</table>





{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" id="id_username" required>
    <label for="id_username">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" id="id_password" required>
    <label for="id_password">Password</label>
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}