{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zipcode</th>
                <th scope="col">Created At</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
{% endblock %}